:root {
  --secondary: #edecff;
  --secondary-head: #9490ff;
  --basic: #191765;
  --basic-head: #837fcf;
  --text: #c8c8d4;
  --white: #fff;
}

body {
  background-color: var(--basic);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mobile-contactus {
  display: block;
}

#desktop-chat {
  display: none;
}

.desktop-form {
  display: none;
}

#desktop {
  display: none;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--white);
}

.welcom-name {
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

header a {
  line-height: 16px;
  padding-top: 10px;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

.overlay-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  display: none;
  width: 100%;
  height: 100%;
  background: var(--basic);
}

.overlay-menu {
  background-image: url(bg/dehb.png), url(bg/efhb.png), url(bg/next-arrow.svg), url(bg/next-arrow.svg), url(bg/next-arrow.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left top 66%, right top 200%, right 48px  top 104px, right 48px  top 154px, right 48px  top 204px;
  background-size: 600px, 600px, 10px, 10px, 10px;
  display: grid;
  grid-template-rows: auto;
  padding: 0 30px;
  gap: 10px;
}

.overlay-menu-list {
  padding-top: 100px;
}

.overlay-menu p {
  line-height: 32px;
  padding-left: 28px;
  margin-bottom: 18px;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.fa-close {
  float: right;
  padding-top: 33.7px;
  padding-right: 20px;
  width: 16px;
  height: 16px;
  color: white;
}

header nav {
  width: 33.33px;
}

nav i:hover {
  cursor: pointer;
  color: #acb7c3;
}

nav > ul > li {
  display: none;
}

section {
  width: 100%;
}

.developer-title {
  margin: 20px;
  white-space: nowrap;
}

.developer-title h1 {
  margin: 1px;
  padding: 20px 0;
  font-size: 48px;
  font-style: bold;
  letter-spacing: 0.37px;
  line-height: 72px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 700;
  color: var(--secondary-head);
}

.software-developer {
  margin: 1px;
  font-size: 30px;
  line-height: 44px;
  vertical-align: center;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 500;
  color: var(--white);
}

.banner-text-pera {
  color: var(--text);
  font-style: regular;
  font-size: 20px;
  line-height: 28px;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
}

.icon {
  text-align: center;
}

ul li {
  list-style-type: none;
}

ul a i {
  padding: 10px;
  align-items: center;
  font-size: 25px;
  color: #fff;
}

.shining-star-1 {
  margin-left: -30px;
  padding-bottom: 30px;
  background-image: url(bg/ea.png);
  background-repeat: no-repeat;
  background-position: 0% -10%;
  background-size: 100px;
}

.shining-star-11 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.shining-star-2 {
  background-image: url(bg/eb.png);
  background-repeat: no-repeat;
  background-position: 100% 5%;
  background-size: 100px;
  margin-right: -30px;
}

.Technology-knowledge {
  border-top: 1px solid #646369;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #646369;
}

.Technology-knowledge h3 {
  padding-bottom: 10%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.Technology-knowledge li {
  font-weight: 400;
  padding: 6px 0;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  line-height: 24px;
  font-size: 15px;
}

.heading {
  color: var(--secondary-head);
}

.headinglist {
  color: var(--secondary);
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 0;
}

.icon-list li {
  color: var(--white);
}

.lang-list {
  padding: 10px 15px 10px 10px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  gap: 0;
}

.nav-arrow {
  display: flex;
  justify-content: center;
}

.arrow {
  margin: 6px;
  width: 28px;
  height: 20px;
  filter: opacity(1) drop-shadow(0 0 0 #a2a3ae) saturate(300%) contrast(0%) blur(0);
}

.navarrow {
  display: none;
}

.recent-work-heading {
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

.works {
  text-decoration: none;
}

.works > p {
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

.works:hover {
  cursor: pointer;
  text-decoration: 2px underline var(--secondary-heading-color);
}

.header-language {
  padding: 0 30px 60px 30px;
}

.recent-work-heading {
  font-size: 32px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-head);
  width: 220px;
  text-transform: uppercase;
}

.grid-container {
  background-image: url(bg/ec.png), url(bg/ed.png), url(bg/ee.png), url(bg/ef.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left top 7%, right top 36%, left top 63%, right bottom 8%;
  background-size: 250px;
  display: grid;
  grid-template-rows: auto;
  padding: 0 30px;
  gap: 10px;
  width: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.grid-item p {
  color: #dcdce8;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
}

.project-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  margin: 50px 0;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

.btn {
  height: 48px;
  width: 89px;
  background-color: var(--basic-head);
  color: var(--white);
  padding: 12px;
  align-items: center;
  font-size: 12px;
  border: none;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  font-weight: 500px;
  letter-spacing: 3%;
  transition: width 2s, height 2s, background-color 1s, transform 1s;
}

.lang-list li {
  padding: 10px 20px;
  padding-bottom: 20px;
  border-right: 1px solid #555;
  height: 20px;
  color: var(--white);
  list-style-type: none;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.btn:hover {
  cursor: pointer;
  background-color: #553dc0;
  color: var(--white);
}

.btn:active {
  background-color: #5e42d7;
}

.btn:visited {
  background-color: #5e42d7;
}

.btn:disabled {
  background-color: #2a2b33;
}

.contact-form .flex-container-column,
.flex .flex-container-column,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  margin-top: 75px;
}

.mobile-form {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #3a3837;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 30px;
}

.contact-form div h2 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contact-form div p {
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  margin: 20px;
}

.input-cls {
  width: 100%;
  padding: 16px;
  color: var(--basic);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.input-cls > textarea {
  height: auto;
}

.submit-btn {
  margin-top: 16px;
  margin-bottom: 80px;
  font-family: 'Roboto', sans-serif;
}

footer .text-hover:hover {
  text-decoration: 2px underline var(--primary-heading-color);
}

.footer-email > a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  text-decoration: none;
}

/* Desktop width > 768px */
@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  #mobile-contactus {
    display: none;
  }

  #contact #desktop-chat {
    display: block;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: block;
  }

  html,
  body {
    width: 100%;
  }

  nav > ul {
    display: flex;
  }

  nav .fa-bars {
    display: none;
  }

  mobile-nav {
    display: none;
  }

  .menu-lists {
    margin: 15px 0;
    list-style-type: none;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    margin-right: 22px;
  }

  .menu-lists li {
    padding: 10px 20px 0 0;
  }

  nav > ul > li {
    display: inline-block;
    margin-right: 20%;
    margin-top: -20px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
  }

  header {
    padding: 0 190px 0 100px;
    display: flex;
    justify-content: space-between;
  }

  main {
    width: 100%;
    margin: 0 auto;
  }

  section {
    width: 100%;
  }

  .shining-star-1 {
    width: 100%;
    background-image: url(bg/da.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0% 0%;
  }

  .shining-star-2 {
    background-image: url(bg/db.png);
    background-repeat: no-repeat;
    background-position: 0 100;
    background-size: 200px;
    margin: 0 auto;
  }

  .banner-text-pera {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .Technology-knowledge,
  .tech {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .Technology-knowledge li {
    width: 30%;
  }

  .grid-container {
    background-image: url(bg/ec.png), url(bg/dd.png), url(bg/de.png), url(bg/ef.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left top 7%, right top 36%, left top 63%, right bottom 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    padding-top: 20px;
  }

  .one {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .class-arrow {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  .navarrow {
    display: flex;
  }

  .proj-1 {
    width: 70%;
    margin: 0 auto;
  }

  .proj-2 {
    width: 70%;
    margin: 0 auto;
  }

  .proj-3 {
    width: 70%;
    margin: 0 auto;
  }

  .proj-4 {
    width: 70%;
    margin: 0 auto;
  }

  recent-work {
    width: 80%;
    margin: 0 auto;
  }

  .grid-row-item .project-image {
    width: 500px;
    height: 298px;
    transition-property: transform;
    transition-duration: 1s;
  }

  .grid-row-item .project-image:hover {
    transform: scale(1.05);
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
  }

  .proj-2 {
    flex-direction: row-reverse;
  }

  .proj-4 {
    flex-direction: row-reverse;
  }

  #my-recent-work {
    width: 70%;
    margin: 0 auto;
  }

  .project-1 {
    border-top: 1px solid #646369;
    padding-top: 20px;
  }

  .lang-list {
    display: flex;
    justify-content: left;
  }

  .recent-work > h3 {
    font-size: 32px;
    text-transform: none;
    width: 100%;
  }

  .grid-row-item h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .grid-row-item p {
    line-height: normal;
    font-size: 19px;
  }

  .contact-form div p {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .contact-form {
    width: 70%;
    margin: 50px auto 20px auto;
  }

  .first-last-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .email {
    display: flex;
    width: 100%;
  }

  .messagebox {
    display: flex;
    width: 100%;
  }

  .desktop-input {
    width: 100%;
    padding: 12px;
    color: var(--basic);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }

  #Last-name {
    width: 288px;
  }

  #First-name {
    width: 288px;
  }

  .desktop-input > textarea {
    height: auto;
  }

  .desktop-form {
    display: flex;
    width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .footer-email > a {
    margin-bottom: 10px;
  }

  .welcom-name {
    transition-property: transform;
    transition-duration: 2s;
  }

  body.loaded .welcom-name {
    transform: rotate(360deg);
  }
}
